body {
    background-color: #b2ff66; /* Fondo verde manzana claro */
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    text-align: center;
}
.editable {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    min-height: 100px;
    background-color: #f9f9f9;
    outline: none;
    white-space: pre-wrap;
}
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.photo-item {
    width: 30%;
    margin: 10px;
}
.photo-item img {
    max-width: 100%;
    border-radius: 10px;
}
h1, h2, h3, p {
    margin: 10px 0;
}
